fieldset {
  background-color: #555555;
  font-family: Segoe UI;
  letter-spacing: .01em;

  div {
    padding: 8px 0;
  }

  legend {
    padding: 3px 6px;
  }

  input[type="text"], input[type="password"] {
      padding: 0.5em 0.6em;
      vertical-align: middle;
      font-size: 100%;
      line-height: 1.15;
      margin: 0;
  }

  input[type="radio"]:checked + label {
    color: #0078e7;
    font-weight: 700;
  }

  input[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    font-size: 100%;
    padding: 0.5em 1em;
    text-decoration: none;
    border: transparent;
    border-radius: 4px;
    cursor: pointer;
  }
}

fieldset, fieldset legend, input[type="text"], input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.row {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 200px;
}
legend {
    background-color: #4caf50;
    color: #000000;

}
body {
    background-image: url("steg_bg.jpg");
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
