<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <title>Steg</title>
    </head>
    <body>

        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <fieldset>
            <legend>Enter the password to upload a file:</legend>

            <div>
                <input type="radio" id="encode" name="upload-action" value="encode" checked />
                <label for="encode">Encode</label>
            </div>

            <div>
                <input type="radio" id="decode" name="upload-action" value="decode" />
                <label for="decode">Decode</label>
            </div>

            <div class="row">
                <label for="password">Passowrd:</label>
                <input type="password" id="password" name="password"/>
            </div>

            <div class="row">
                <label for="fileInput">File input:</label>
                <input type="file" id="fileInput" name="fileInput" />
            </div>
            <div class="row">
                <label for="text_to_encrypt" id="text_block">Text to encrypt:</label>
                <input type="text" id="text_to_encrypt" name="text_to_encrypt" />
            </div>

            <div>
                <input type="submit" value="Upload" />
            </div>
            <script>
                function setAction(action) {
                    document.getElementById('action').value = action;
                }

                function handleFileSelect(files) {
                    // Handle the selected files as needed
                    console.log('Selected files:', files);
                }
            </script>
            </fieldset>
            {% if fileInput %}
            <a  href="{{ url_for('download_file', filename=fileInput ) }}" download>
                <fieldset>
                    <div class="row">
                        <!-- Add a download link/button -->
                        Download Encrypted File
                    </div>
                </fieldset>
            </a>
            {% endif %}
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Get references to the radio buttons and text input

                const encode = document.getElementById('encode');
                const decode = document.getElementById('decode');
                const textInput = document.getElementById('text_to_encrypt');
                const text_block = document.getElementById('text_block');

                // Add an event listener to the radio buttons
                encode.addEventListener('change', function () {
                    // If "Show Input" is selected, show the text input
                    if (encode.checked) {
                        textInput.style.display = 'block';
                        text_block.style.display = 'block';
                    }
                });

                decode.addEventListener('change', function () {
                    // If "Hide Input" is selected, hide the text input
                    if (decode.checked) {
                        textInput.style.display = 'none';
                        text_block.style.display = 'none';
                    }
                });
            });
        </script>
        <script>
            const fileInput = document.getElementById('fileInput');

            fileInput.addEventListener('click', handleFileSelect);

            fileInput.addEventListener('dragover', function (e) {
                e.preventDefault();
                e.stopPropagation();
                e.dataTransfer.dropEffect = 'copy';
            });

            fileInput.addEventListener('drop', function (e) {
                e.preventDefault();
                e.stopPropagation();

                const files = e.dataTransfer.files;
                handleFileSelect(files);
            });

            function handleFileSelect(files) {
                // Handle the selected files as needed
                console.log('Selected files:', files);
            }
        </script>
    </body>
</html>
