<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Hello Flask</title>
</head>
<body>
    <h1>Hello</h1>
    <p>Enter the password to upload a file:</p>
    <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
        <input type="password" name="password" placeholder="Password" required>
        <br>
        <input type="file" name="file" id="fileInput" multiple required>
        <br>
        <input type="submit" value="Upload">
    </form>
    <script>
        const fileInput = document.getElementById('fileInput');

        fileInput.addEventListener('change', handleFileSelect);

        fileInput.addEventListener('dragover', function (e) {
            e.preventDefault();
            e.stopPropagation();
            e.dataTransfer.dropEffect = 'copy';
        });

        fileInput.addEventListener('drop', function (e) {
            e.preventDefault();
            e.stopPropagation();

            const files = e.dataTransfer.files;
            handleFileSelect(files);
        });

        function handleFileSelect(files) {
            // Handle the selected files as needed
            console.log('Selected files:', files);
        }
    </script>
</body>
</html>
